.category-card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 18px;

  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all 0.3s ease;

  height: 100%;
}

.category-card:hover {
  transform: translateY(-6px);

  box-shadow:
    0 10px 25px
    rgba(0, 0, 0, 0.08);
}

.category-image {
  width: 70px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 15px;
}

.category-image img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.category-content {
  text-align: center;
}

.category-content h3 {
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 600;

  color: #111827;
}

.category-content span {
  color: #64748b;

  font-size: 14px;
}