.search-bar {
  position: relative;
  width: 100%;
  max-width: 350px;
}


@media (max-width: 480px) {
  .search-bar {
    max-width: 100%;
  }
}

.search-bar input {
  width: 100%;
  padding: 12px 15px 12px 45px;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 15px;
  outline: none;
}

.search-bar input:focus {
  border-color: #2563eb;
}

.search-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
}

